
DB_USER=postgres
DB_PASSWORD=1234
DB_IP=postgres
DB_PORT=5432
DB_NAME=vpn_ui_db

REDIS_IP=redis
REDIS_PORT=6379
REDIS_LOGIN=
REDIS_PASSWORD=
REDIS_BACKEND=0
REDIS_BOT=1

RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_IP=rabbitmq
RABBIT_PORT=5672

BOT_TOKEN=YOUR_BOT_TOKEN
BOT_SUPERUSER=YOUR_TELEGRAM_ID

BACKEND_SECRET=YOUR_SECRET
BACKEND_IP=backend
BACKEND_PORT=8000

BOOT_LEVEL=DEBUG

NGINX_PORT=8
BACKEND_WORKERS_COUNT=1
COMPOSE_PROFILES=with_backend,with_bot,with_frontend

NETWORK_NAME=vpn_ui
DOMAIN=vpn-ui
